img {
    float:  inline-start;
    margin: 0 1em 1em 0;
    max-width: 300px;
    border-radius: 2px;
  }
  
  
#top_image{
 float: initial;   
 width: 200px;
 height: 150px;
}


sl-details img {
  float: none;      
  display: block;     
  max-width: 100%;    
  height: auto;        
  margin: 1em 0;
}